<h1>Listing equipmental_carts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @equipmental_carts.each do |equipmental_cart| %>
      <tr>
        <td><%= link_to 'Show', equipmental_cart %></td>
        <td><%= link_to 'Edit', edit_equipmental_cart_path(equipmental_cart) %></td>
        <td><%= link_to 'Destroy', equipmental_cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipmental cart', new_equipmental_cart_path %>
