<div id="order_equipmentals_edit">
  <fieldset>
    <legend>Equipment</legend>
    <table id="editequipmentals">
      <thead>
      <tr>
        <th id="quantity">Qty</th>
        <th id="equipmental">Item</th>
        <th></th>
      </tr>
      </thead>
      <tbody class="items">
      <%= f.nested_fields_for :equipmental_line_items do |f| %>
        <tr class="item">
          <td id="quantity"><%= f.number_field :quantity %></td>
          <td id="equipmental"><%= f.select :equipmental_id, @equipmentals.map { |equip| [equip.name, equip.id] } %></td>
          <td>
            <a href="#" class="remove">remove</a>
            <%= f.hidden_field :_destroy %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <a href="#" class="add">add equipment</a>
  </fieldset>
</div>