<div id="order_labors_edit">
  <fieldset>
    <legend>Labor</legend>
    <table id="editlabors">
      <thead>
      <tr>
        <th id="quantity">Qty</th>
        <th id="labor">Item</th>
        <th></th>
      </tr>
      </thead>
      <tbody class="items">
      <%= f.nested_fields_for :labor_line_items do |f| %>
        <tr class="item">
          <td id="quantity"><%= f.number_field :quantity %></td>
          <td id="labor"><%= f.select :labor_id, @labors.map { |lab| [lab.name, lab.id] } %></td>
          <td>
            <a href="#" class="remove">remove</a>
            <%= f.hidden_field :_destroy %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <a href="#" class="add">add labor</a>
  </fieldset>
</div>