<%= form_for(@material_cart) do |f| %>
  <% if @material_cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material_cart.errors.count, "error") %> prohibited this material_cart from being saved:</h2>

      <ul>
      <% @material_cart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
