<h1>Listing material_carts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @material_carts.each do |material_cart| %>
      <tr>
        <td><%= link_to 'Show', material_cart %></td>
        <td><%= link_to 'Edit', edit_material_cart_path(material_cart) %></td>
        <td><%= link_to 'Destroy', material_cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material cart', new_material_cart_path %>
