<div id="order_materials_edit">
  <fieldset>
    <legend>Materials</legend>
  <table id="edit_materials">
    <thead>
    <tr>
      <th id="quantity">Quantity</th>
      <th id="material">Item</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="items">
    <%= f.nested_fields_for :wo_material_line_items do |f| %>
      <tr class="item">
        <td id="quantity"><%= f.number_field :quantity, min: 1 %></td>
        <td id="material"><%= f.select :material_id, @materials.map { |matter| [matter.name, matter.id] } %></td>
        <td>
          <a href="#" class="remove">remove</a>
          <%= f.hidden_field :_destroy %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <a href="#" class="add">add material</a>
    </fieldset>
</div>