// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html.customers {
  background: #E6FAFF;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
body.customers {
  background: #E6FAFF;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
h1#customer_heading {
  padding-top: 10px;
}
table#customer_show {
  width: 80%;
  border: 1px solid #cceeff;
  color: b0e6ff;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  text-align: left;
  thead {
    color: b0e6ff;
  }
  tbody {
    background: b0e6ff;
  }
  th {
    font-weight: bold;
    background-color: #aaccff;
    border-bottom: 1px solid #436E99;
    padding: 4px 5px;
  }

  td {
    padding: 4px 5px;
  }
  tr.odd {
    background-color: #CCE0FF;
    border-bottom: 1px solid #cceeff;
  }

}
table#customer_contacts_edit {
  width: 80%;
  border: 1px solid #cceeff;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  text-align: left;

  th {
    font-weight: bold;
    background-color: #aaccff;
    border-bottom: 1px solid #436E99;
    padding: 4px 5px;
  }

  td {
    padding: 4px 5px;
  }
  tr.odd {
    background-color: #CCE0FF;
    border-bottom: 1px solid #cceeff;
  }
}
