// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html.orders {
  background: #FFE0C2;
}

body.orders {
  background: #FFE0C2;
}
div#materialsvendors {
  width: 50%;
  float: left;
}
div#laborequipmentals {
  width: 50%;
  float: right;
}
div#show_materials {
  table#materials_show {
    border: 0;
    cellspacing: 5px;
    cellpadding: 0;
    width: 80%;
    tr {
      .even {

      }
      .odd {

      }
      th {
        text-align: left;
        #number {
          width: 10%;
        }
        #quantity {
          width: 10%;
        }
        #material {
          width: 40%;
        }
        #rate {
          width: 15%;
        }
      }
      td {
        text-align: left;
        #number {
          width: 10%;
        }
        #quantity {
          width: 10%;
        }
        #material {
          width: 40%;
        }
        #rate {
          width: 15%;
        }
      }
    }
  }
}

div#show_equipmentals {
  table#equipmentals_show {
    border: 0;
    cellspacing: 5px;
    cellpadding: 0;
    width: 80%;
    tr {
      .even {

      }
      .odd {

      }
      th {
        text-align: left;
        #number {
          width: 10%;
        }
        #quantity {
          width: 10%;
        }
        #equipmental {
          width: 40%;
        }
        #rate {
          width: 15%;
        }
      }
      td {
        text-align: left;
        #number {
          width: 10%;
        }
        #quantity {
          width: 10%;
        }
        #equipmental {
          width: 40%;
        }
        #rate {
          width: 15%;
        }
      }
    }
  }
}

div#show_labors {

  table#labors_show {
    border: 0;
    cellspacing: 5px;
    cellpadding: 0;
    width: 80%;
    tr {
      .even {

      }
      .odd {

      }
      th {
        text-align: left;
        #number {
          width: 10%;
        }
        #quantity {
          width: 10%;
        }
        #labor {
          width: 40%;
        }
        #rate {
          width: 15%;
        }
      }
      td {
        text-align: left;
        #number {
          width: 10%;
        }
        #quantity {
          width: 10%;
        }
        #labor {
          width: 40%;
        }
        #rate {
          width: 15%;
        }
      }
    }
  }

}

div#order_materials_edit {

  table#editmaterials {
    border: 0;
    cellspacing: 5px;
    cellpadding: 0;
    width: 80%;
    tr {
      .even {

      }
      .odd {

      }
      th {
        text-align: left;
        #quantity {
          width: 10%;
        }
        #material {
          width: 40%;
        }
        #rate {
          width: 15%;
        }
      }
      td {
        text-align: left;
        #quantity {
          width: 10%;
        }
        #material {
          width: 40%;
        }
        #rate {
          width: 15%;
        }
      }
    }
  }
}

div#order_labors_edit {

  table#editlabors {
    border: 0;
    cellspacing: 5px;
    cellpadding: 0;
    width: 80%;
    tr {
      .even {

      }
      .odd {

      }
      th {
        text-align: left;
        #quantity {
          width: 10%;
        }
        #labor {
          width: 40%;
        }
        #rate {
          width: 15%;
        }
      }
      td {
        text-align: left;
        #quantity {
          width: 10%;
        }
        #labor {
          width: 40%;
        }
        #rate {
          width: 15%;
        }
      }
    }
  }
}
div#order_equipmentals_edit {

  table#editequipmentals {
    border: 0;
    cellspacing: 5px;
    cellpadding: 0;
    width: 80%;
    tr {
      .even {

      }
      .odd {

      }
      th {
        text-align: left;
        #quantity {
          width: 10%;
        }
        #equipmental {
          width: 40%;
        }
        #rate {
          width: 15%;
        }
      }
      td {
        text-align: left;
        #quantity {
          width: 10%;
        }
        #equipmental {
          width: 40%;
        }
        #rate {
          width: 15%;
        }
      }
    }
  }
}
