// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html.orders {
  font-family: "Trebuchet MS";
  font-size: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background: #FFE0C2;
}

body.orders {
  font-family: "Trebuchet MS";
  font-size: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background: #FFE0C2;
}

div#order_page_title {
  width: 100%;
  text-align: center;
}

form div#order_submit {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

div#new_order_vitals {
  width: 45%;
  padding-left: 7px;
  float: left;
}

div#new_description {
  width: 50%;
  float: right;
}

// Customer and order number
div#order_vitals {
  width: 60%;
  float: left;
  padding-top: 0;
  padding-left: 7px;
  span#numerical {
    padding-top: 5px;
  }
}
// Edit form customer and order number
div#order_vitals_edit {
  width: 60%;
  float: left;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 7px;
  .field {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 5pt;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  span#numerical {
    padding-top: 5px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}

// Creation and estimated completion dates
div#order_dates {
  width: 25%;
  float: right;
  text-align: right;
  padding-top: 0;
  padding-right: 10%;
  .field {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 5pt;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

// Order quantity and description
div#quantity_and_description {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 0;
  padding-left: 7px;
  div#quantity {
    width: 15%;
    padding-top: 0;
    padding-bottom: 0;
    float: left;
  }
  div#description_title {
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    width: 10%;
  }
  div#description {
    width: 75%;
    padding-top: 0;
    padding-bottom: 0;
    float: right;
  }
}

// Materials, vendors, equipment(als), and labor
div#order_drop_downs {
  display: block;
  width: 100%;
}

div#submission {
  display: block;
}

// Materials and vendors
div#materials_and_vendors {
  width: 50%;
  float: left;
}

// Labor and equipment(als)
div#labor_and_equipmentals {
  width: 50%;
  float: right;
}

// Subtotals, incidentals, cost of goods, profit, and other things
div#cost_summary {
  width: 50%;
  float: right;
}

div#show_materials {
  table#materials_show {
    border: 0;
    cellspacing: 5px;
    cellpadding: 0;
    width: 95%;
    tr.odd {
      background-color: #FFD0A4;
    }
    tr {
      #number {
        text-align: left;
        width: 10%;
      }
      #quantity {
        text-align: left;
        padding-right: 5px;
        width: 10%;
      }
      #material {
        text-align: left;
        width: 40%;
      }
      #rate {
        text-align: right;
        width: 15%;
      }
      #total {
        width: 20%;
        text-align: right;
      }
      #subtotal {
        background-color: #FFCF7A;
        text-align: right;
      }
    }
  }
}

div#show_equipmentals {
  table#equipmentals_show {
    border: 0;
    cellspacing: 5px;
    cellpadding: 0;
    width: 95%;
    tr.odd {
      background-color: #FFD0A4;
    }
    tr {
      #number {
        text-align: left;
        width: 10%;
      }
      #quantity {
        text-align: left;
        width: 10%;
      }
      #equipmental {
        text-align: left;
        width: 40%;
      }
      #rate {
        text-align: right;
        width: 15%;
      }
      #total {
        text-align: right;
        width: 20%;
      }
      #subtotal {
        background-color: #FFCF7A;
        text-align: right;
      }
    }
  }
}

div#show_labors {
  table#labors_show {
    border: 0;
    cellspacing: 5px;
    cellpadding: 0;
    width: 95%;
    tr.odd {
      background-color: #FFD0A4;
    }
    tr {
      #number {
        text-align: left;
        width: 10%;
      }
      #quantity {
        text-align: left;
        width: 10%;
      }
      #labor {
        text-align: left;
        width: 40%;
      }
      #rate {
        text-align: right;
        width: 15%;
      }
      #total {
        text-align: right;
        width: 20%;
      }
      #subtotal {
        background-color: #FFCF7A;
        text-align: right;
      }
    }
  }
}

div#show_vendors {
  table#vendors_show {
    border: 0;
    cellspacing: 5px;
    cellpadding: 0;
    width: 95%;
    tr.odd {
      background-color: #FFD0A4;
    }
    tr {
      #number {
        text-align: left;
        width: 10%;
      }
      #quantity {
        text-align: left;
        width: 10%;
      }
      #description {
        text-align: left;
        width: 40%;
      }
      #cost {
        text-align: right;
        width: 15%;
      }
      #total {
        text-align: right;
        width: 20%;
      }
      #subtotal {
        background-color: #FFCF7A;
        text-align: right;
      }
    }
  }
}

div#edit_description {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5pt;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 7px;
  .field {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 5pt;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

div#order_drop_down_edits {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

div#materials_and_vendors_edit {
  width: 50%;
  float: left;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
div#labor_and_equipmentals_edit {
  width: 50%;
  float: right;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

div#order_materials_edit {
  table#edit_materials {
    border: 0;
    cellspacing: 5px;
    cellpadding: 0;
    width: 95%;
    tr {
      #quantity {
        text-align: left;
        width: 20%;
      }
      #material {
        text-align: left;
        width: 50%;
      }
    }
  }
}

div#order_labors_edit {
  table#editlabors {
    border: 0;
    cellspacing: 5px;
    cellpadding: 0;
    width: 80%;
    tr {
      #quantity {
        width: 20%;
        text-align: left;
      }
      #labor {
        width: 40%;
        text-align: left;
      }
      #rate {
        width: 15%;
        text-align: right;
      }
    }
  }
}

div#order_equipmentals_edit {
  table#editequipmentals {
    border: 0;
    cellspacing: 5px;
    cellpadding: 0;
    width: 80%;
    tr {
      #quantity {
        width: 20%;
        text-align: left;
      }
      #equipmental {
        width: 40%;
        text-align: left;
      }
      #rate {
        width: 15%;
        text-align: left;
      }
    }
  }
}

div#order_vendors_edit {
  table#editvendors {
    border: 0;
    cellspacing: 5px;
    cellpadding: 0;
    width: 95%;
    tr {
      #quantity {
        text-align: left;
        width: 20%;
      }
      #description {
        text-align: left;
        width: 50%;
      }
      #cost {
        text-align: right;
        width: 15%;
      }
    }
  }
}

.order_submission {
  display: block;
}

p.clearboth {
  font-size: 0.1em;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  clear: both;
}

table#costs {
  width: 95%;
  padding-left: 15px;
  tr.odd {
    background-color: #FFD0A4;
  }
  th#number {
    text-align: left;
  }
  th#description {
    text-align: left;
  }
  th#total {
    text-align: right;
  }
  th#salesestimate {
    text-align: right;
  }
  td#total {
    text-align: right;
  }
  td#salesestimate {
    background-color: #FFCF7A;
    text-align: right;
  }
}

table#order_index {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  tr.odd {
    background-color: #FFD0A4;
  }
  #numby {
    text-align: left;
    width: 13%;
  }
  #customer {
    text-align: left;
    width: 18%;
  }
  #description {
    text-align: left;
    width: 49%;
  }
  #quantity {
    text-align: left;
    width: 10%;
  }
  #actions {
    text-align: left;
    padding-left: 10px;
    width: 10%;
  }
  #quants {
    text-align: right;
    padding-right: 5px;
    width: 10%;
  }
}


form.inline_form {
  display: inline;
}

h1.centerme {
  text-align: center;
}


div.pagination {
  text-align: center;
  padding: 1em;
  cursor: default;
  a, span {
    padding: 0.2em 0.3em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: darken(#FFE0C2, 15);
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(white, .8) 1px 1px 1px;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover, &:focus {
      text-decoration: underline;
      background: grey;
      color: white;
    }
  }
}